<img [src]="src" onerror="this.onerror=null;this.src='https://via.placeholder.com/284X398.png?text=next';">
<div class="content">
    <div class="title">
        <div class="name">
            <h1 [innerHTML]="title"></h1>
        </div>
        <!-- TODO create a separate component for rating -->
        <div *ngIf="rating" class="rating">{{rating}}/10</div>
    </div>
    <div class="subtitle">
        <h2>{{runtime}}</h2>
        <!-- <span>{{genre}}</span> -->
    </div>
    <div class="synopsis" [innerHTML]="synopsis"></div>
    <next-button (click)="close()" buttonText="Back to list" buttonDirection="rtl"></next-button>
</div>